.git
.trae
.vscode
.idea
__pycache__
*.pyc
*.pyo
.venv
venv
env
.env
.env.local

backend/bge-large-zh-v1.5/
backend/key.env
backend/reports/

frontend/node_modules/
frontend/.env.local
static/

mysql-data/
redis-data/
